doctype html
html
  head
    title= "Demo"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="/javascripts/ctct.js")
    style.
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
    script(type='text/javascript').
        function initialize() {
            var mapOptions = {
                center: { lat: 37.7642944915352, lng: -122.430696487427 },
                zoom: 8
            };
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            bounds = new google.maps.LatLngBounds();
            var data = JSON.parse(customers.innerHTML.substring(11))

            var splitter = window.location.href.split("&");
            var pinType = decodeURIComponent(splitter[0]);
            pinType = pinType.substring(pinType.indexOf('=')+1, pinType.length);
            console.log(pinType)
            ctct_getLocations(data, pinType)
        }
        google.maps.event.addDomListener(window, 'load', initialize);

  body
    div(id="map-canvas")
    #customers Customers: #{customers}
        


